{
  "presets": [
    "next/babel",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx"]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-intl"
      ]
    },
    "production": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "i18n/messages/"
          }
        ]
      ]
    }
  }
}
