<!DOCTYPE html>
<html>
<head>
    <%# TODO: add GTM tag in production #%>
    <title>Holo Apollo Art</title>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <%# TODO: add description via Helmet #%>
    <meta name="keywords" content="holo apollo, holoapollo, холо аполло, дизайнерские вещи, декор, купить дизайнерские вещи Украина">

    <%# TODO: add it via helmet %>
    <link rel="shortcut icon" type="image/x-icon" href="<% staticRoot %>/img/favicon.png" />
</head>

<body>
<div id="app"><%- reactDom -%></div>

<% bundlePaths.forEach(function(bundle) { %>
    <script src="<% staticRoot %><%= bundle %>"></script>
<% }); %>

</body>
</html>
